h1 {color: orange;}
	
p {color: green;
	font-weight: 1000;	}

a {color: blue;}

.para_1_style {	color: black;
	font-size: 16px;}
.para_2_style {	color: orange;
	font-size: 16px;}
.para_3_style_hex {color: #00FF00;}
.para_4_style_RGBA {color: rgba(255, 255, 0, 100%);}
.red {color: red;}
.orange {color: orange;}
.yellow {color: yellow;}
.brown {color: brown;}
.blue {color: blue;}
.green {color: green;}

.custom_padding {
    padding-top: 15px;
    padding-right: 150px;
    padding-bottom: 15px;
    padding-left: 20px;
}
table{border:3px solid black;}
