a:visited {
  color: red;
}
body {
	background-image: url("images/tilec.png");
	background-size: 2.5%;
}

h1 {
	color: orange;font size="2";
}

table{
border-collapse:collapse;
border:1px solid #FF0000;
}

table td{
border:1px solid #FF0000;
}

th {
	background-color: orange;
	font-size: 36px;
}

/*	
p {
	color:red;
	font-weight: 1000;
	}
*/
a {
	color: blue;
}

.form_bg {
	background-color: #FFFFFFCC;
	background-color: rgba(255, 255, 255, 80%);
	width: 100%;
}

iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.para_1_style {
	color: red;
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
/*	border: dashed 10px purple;*/
}
.para_2_style {	color: orange;	font-size: 16px; /*	padding: 50px;*/ /*	border: dashed 10px purple;*/ 	margin: 20px;	border: 50px; }


.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}

.header {
	border: 1px solid black;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 50%);
}

.nav {
	border: 1px solid black;
	background-color: cyan;
	background-image: url("images/tilec.png");
	background-size: 2%;
	background-repeat: repeat-x;
	background-position: center bottom;
}


.article {
	float: left;
	min-width: 59%;
	min-height: 300px;
	border: 1px solid black;
}

.section {
	border: 1px solid black;
}

.aside {
	min-width: 39%;
	min-height: 300px;
	float: right;
	border: 1px solid black;
	background-color: #FFFFFFCC;
}
.footer {
	border: 1px solid black;
	background-color: #FFFFFFCC;
.image-wrapper:hover {
        width: 200%;
        height: 200%;
    }
a:active {
    border: 3px solid crimson;
}
a:visited {
  color: green;
}
a:active {
    border: 3px solid crimson;
}
button:focus {
    border: 3px solid blue;
}

input:focus {
    border: 3px solid blue;
}
.play_btn {
	color: green;
	font-size: 40px;
}

.play_btn:hover {
	color: black;
	font-size: 40px;
}

.pause_btn {
	color: gray;
	font-size: 50px;
}

.pause_btn:hover {
	color: black;
	font-size: 50px;
}



.player {
	margin-left: auto;
	margin-right: auto;
	min-height: 200px;
	width: 200px;
	background-color: #DDDDDDDD;
	text-align: center;
}

.vert_slider {
	transform: rotate(270deg);
}
.zoom {
  padding: 50px;
   transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* expand thumbnail */
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 50px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.my-paragraph {font-size: 14px;}
